*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav, main, footer{
    max-width: 1145px;
    margin: 0 auto;
}
p, span, a{
    font-family: Gilroy-Regular, serif;
}
/*Navigation bar CSS*/
nav{
    display: flex;
    flex-direction: row;
    margin-top: 27pt;
    margin-bottom: 27pt;
    max-height: 60pt;
    align-items: center;
    justify-content: space-between;
}
.contact-data{
    display: flex;
    flex-direction: row;
}
.contact-data__contact-numbers{
    border-left: 1px solid #e85222;
    border-right: 1px solid #e85222;
    padding: 0 15px;
    margin: 5px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact-data__address{
    display: flex;
    align-items: center;
}
.contact-numbers__contact-number{
    font-family: Gilroy-Bold, serif;
}
.address__info{
    font-family: Gilroy-Regular, serif;
}
.navigation-buttons{
    display: flex;
}
.navigation-buttons{
    align-items: center;
}
.navigation-buttons a{
    text-decoration: none;
    color: #000000;
    margin-left: 38px;
}
.navigation-buttons button{
    border: #e85222 1px solid;
    background: transparent;
    font-size: 16px;
    padding: 10px 36px 10px 36px;
    border-radius: 5px;
    cursor: pointer;
    transition: color 2s;
    transition: background-color 2s ease-out;
    color: #000000;
}
.navigation-buttons button:hover{
    background-color: #e85222;
    color: #ffffff;
    background-position: left;
}
h1, h2, h3, h4, h5, h6{
    font-family: Gilroy-Bold, serif;
}
/*Main CSS*/
.main-banner {
    background: url(../img/main-banner.jpg);
    width: 100%;
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 34px;
}
.main-banner__paragraph, .main-banner__header{
    color: #fff;
}
.main-banner__paragraph{
    font-size: 24px;
    margin-bottom: 7px;
}
.main-banner__header{
    font-size: 48px;
}
.additions{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.additions__block{
    width: 49%;
    height: 222px;
    border-radius: 5px;
    padding: 30px;
    display: flex;
}
.testimony{
    background: linear-gradient(264.92deg, #F1525B -1.14%, #B566EF 100.74%);
}
.online-purchase{
    background: linear-gradient(264.92deg, #B566EF -1.14%, #F1525B 100.74%);
}
.testimony__left, .online-purchase__left{
    width: 55%;
    justify-content: center;
}
.testimony__right, .online-purchase__right{
    width: 45%;
    align-items: flex-end;
    justify-content: space-between;
}
.testimony__right{
    margin-top: 40px;
}
.online-purchase__right{
    margin-top: 10px;
}
.testimony__left, .testimony__right, .online-purchase__left, .online-purchase__right{
    display: flex;
    flex-flow: column;
}
.testimony___header, .online-purchase__header{
    color: #fff;
    font-size: 26px;
    margin-bottom: 9px;
}
.testimony__paragraph, .online-purchase__paragraph{
    color: #fff;
    font-size: 18px;
    width: 90%;
}
.testimony__counter{
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.testimony__num{
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px 7px;
    color: #fff;
}
.online-purchase__image{
    width: 66px;
    height: 76px;
    margin: 0 auto;
}
.testimony__button, .online-purchase__button{
    border: #fff 1px solid;
    background: transparent;
    border-radius: 5px;
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
}
/*Footer CSS*/
.footer{
    display: flex;
    flex-direction: column;
    margin-top: 27pt;
    margin-bottom: 27pt;
}
.footer a, p{
    color: #363E3F;
}
.upper-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tech-support, .tech-support__chat, .tech-support__phone{
    display: flex;
}
.tech-support__image-link{
    text-decoration: none;
}
.chat__image-link{
    margin-right: 17px;
}
.chat__text-link{
    margin-right: 105px;
    padding-top: 5px;
}
.phone__image{
    margin-right:17px;
}
.phone__number{
    font-family: Gilroy-Bold, serif;
    font-size: large;
    width: 140px;
    padding-top: 5px;
}
.footer hr{
    margin: 30px 0 30px 0;
}
.lower-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.copyright__text{
    font-size: smaller;
}
.lower-footer__socials{
    display: flex;
    align-items: center;
}
.socials__link{
    margin-left: 23px;
}
.socials__text{
    align-items: center;
}